.navbar {
  background-color: #ad1120;
}

.jumbotron {
  padding: 0.5em 0.6em;
  font-family: 'Homemade Apple', cursive;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  background-repeat:no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

#home {
  background-image: url(img/home-mybike.JPG);
  text-align: right;
}

.container {
  align-content:center;
}

#adventure {
  background-image: url(img/adv-river.jpg);
}

#unfortunate {
  background-image: url(img/unf-bridge.jpg);
  text-align: center;
}

h1 {
  text-shadow: 1px 1px 1px grey;
}

h3 {
color: #ad1120
}

#subtitle {
  font-family: 'Homemade Apple', cursive;
}

.mb-0 {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.4em;
  text-align: center;
}

.blockquote-footer {
  text-align: center;
}

/* Carousel */
.carousel-caption {
  text-shadow: 1px 1px 1px black;
}

/* Youtube container */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
